@import "bootstrap";

html {
  height: 100%;
}

:root {
  --p-yellow: #E1AD01;
  --p-light-gray: #4B8178;
  --p-dark-gray: #005249;
  --p-white: #C3FCF2;
}

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: var(--p-yellow);
  height: 100%;
}

.header-border {
  text-shadow: 2px 0 0 #4B8178, -2px 0 0 #4B8178, 0 2px 0 #4B8178, 0 -2px 0 #4B8178, 1px 1px #4B8178, -1px -1px 0 #4B8178, 1px -1px 0 #4B8178, -1px 1px 0 #4B8178;
}

.text-border {
  text-shadow: 2px 0 0 #005249, -2px 0 0 #005249, 0 2px 0 #005249, 0 -2px 0 #005249, 1px 1px #005249, -1px -1px 0 #005249, 1px -1px 0 #005249, -1px 1px 0 #005249;
}

.wrapper {
  display: flex;
  height: 100%;
	.sidebar {
    background: #4B8178;
    width: 225px;
    min-height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    border: 1px solid #010101;
    .profile {
      padding-bottom: 30px;
      text-align: center;
      border-bottom: 2px solid #010101;

      img{
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto;
        border: 3px solid var(--p-white);
      }

      h3{
        color: var(--p-white);
        margin: 10px 0 5px;
      }
    }
		ul {
      padding-left: 0;
			li {
				a {
					display: block;
					padding: 13px 30px;
					border-bottom: 2px solid #010101;
					color: var(--p-white);
					font-size: 16px;
					position: relative;
          text-decoration: none;
					.icon {
						color: var(--p-white);
						width: 30px;
						display: inline-block;
					}
					&:hover {
						background: var(--p-white);
						border-right: 1px solid #010101;
					}
				}
				a.active {
					background: var(--p-white);
					border-right: 3px solid #010101;
				}
			}
		}
	}
  .contents {
    flex: 1 0 auto;
    overflow: scroll;
    display: flex;
    .content-box {
      margin: 1em 2.5em 1em 5em;
      text-align: center;
      border: 3px solid var(--p-white);
      background-color: var(--p-dark-gray) !important;
      h1{
        color: var(--p-white);
      }
    }
    .game {
      border: 3px solid var(--p-dark-gray);
      background-color: var(--p-light-gray) !important;
      margin-bottom: 1em !important;

      .text {
        margin-left: 5em;
        margin-right: 5em;
        color: var(--p-white);

        a{
          text-decoration: none;
          font-weight: bold;
          color: var(--p-white);
        }
      }
    }
    .new-game {
      flex: 2;
      margin: 1em 2.5em 1em 2.5em;
      .fixed {
        position: fixed;
        margin: 0;

        h5{
          color: var(--p-white)
        }
      }

      .btn{
        color: var(--p-white);
        background-color: var(--p-light-gray);
        border-color: var(--p-dark-gray);
      }
    }
  }
}
