*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #E1AD01;
  height: 100%;
}

.wrapper {
  display: flex;
  height: 100%;
	.sidebar {
    background: #4B8178;
    width: 225px;
    min-height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    border: 1px solid #010101;
    .profile {
      margin-bottom: 30px;
      text-align: center;

      img{
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto;
      }

      h3{
        color: #fff;
        margin: 10px 0 5px;
      }
    }
		ul {
      padding-left: 0;
			li {
				a {
					display: block;
					padding: 13px 30px;
					border-bottom: 2px solid #010101;
					color: #005249;
					font-size: 16px;
					position: relative;
          text-decoration: none;
					.icon {
						color: #005249;
						width: 30px;
						display: inline-block;
					}
					&:hover {
						background: #bfbfbf;
						border-right: 1px solid #010101;
					}
				}
				a.active {
					background: #bfbfbf;
					border-right: 2px solid #222;
				}
			}
		}
	}
  .contents {
    flex: 1 0 auto;
    overflow: scroll;
    display: flex;
    .games {
      margin: 1em 5em;
      text-align: center;
    }
    .game {
      border: 3px solid #005249;
      background-color: #4B8178 !important;

      .text {
        margin-left: 5em;
        margin-right: 5em;
      }
    }
    .new-game {
      flex: 2;

      .btn{
        position: fixed;
      }
    }
  }
}
